<div id="<%= dom_id person %>">

  <span class="hoverWrapper">
     <%= person.First_name %>
    <%= person.Last_name %>
    <div id="hoverContent">
    <%= turbo_frame_tag dom_id(person, :personnel), target: "_top",loading: :lazy, src: hovercard_person_path(person) do %>
      Loading...
    <% end %>
    </div>
  </span>

</div>
